<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ham2.Properties.Security" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Ham2.Properties.Recorder" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Ham2.Properties.H264" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Ham2.Properties.Main" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Ham2.Properties.Metadata" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Ham2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Ham2.Properties.Security>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Secret" serializeAs="String">
                <value />
            </setting>
            <setting name="IpAddressService" serializeAs="String">
                <value />
            </setting>
        </Ham2.Properties.Security>
        <Ham2.Properties.Recorder>
            <setting name="Path" serializeAs="String">
                <value>control</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>record</value>
            </setting>
            <setting name="ControlArgFmt" serializeAs="String">
                <value>http://{1}/{2}/record/{0}?app={3}&amp;name={4}&amp;rec={5}</value>
            </setting>
        </Ham2.Properties.Recorder>
        <Ham2.Properties.H264>
            <setting name="crf" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="preset" serializeAs="String">
                <value>veryfast</value>
            </setting>
            <setting name="videoBitRate" serializeAs="String">
                <value>96k</value>
            </setting>
            <setting name="buffersize" serializeAs="String">
                <value>198k</value>
            </setting>
            <setting name="gop" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="audioCodec" serializeAs="String">
                <value>aac</value>
            </setting>
            <setting name="audioBitRate" serializeAs="String">
                <value>24k</value>
            </setting>
            <setting name="pixelFormat" serializeAs="String">
                <value>yuv420p</value>
            </setting>
        </Ham2.Properties.H264>
        <Ham2.Properties.Main>
            <setting name="VideoSource" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioSource" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamName" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value />
            </setting>
        </Ham2.Properties.Main>
        <Ham2.Properties.Metadata>
            <setting name="Artist" serializeAs="String">
                <value />
            </setting>
            <setting name="Album" serializeAs="String">
                <value />
            </setting>
            <setting name="Copyright" serializeAs="String">
                <value />
            </setting>
            <setting name="Description" serializeAs="String">
                <value />
            </setting>
            <setting name="Comment" serializeAs="String">
                <value />
            </setting>
            <setting name="Title" serializeAs="String">
                <value />
            </setting>
        </Ham2.Properties.Metadata>
        <Ham2.Properties.Settings>
            <setting name="ffmpegPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ffplayPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ffprobePath" serializeAs="String">
                <value />
            </setting>
            <setting name="inputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="outputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="streamingHost" serializeAs="String">
                <value />
            </setting>
            <setting name="controlUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ffmpegArgFmt" serializeAs="String">
                <value>-hide_banner -f dshow -sample_rate 11025 -video_size qvga -i video="{0}":audio="{1}" -f flv -r 15 -c:v libx264 -crf {5} -preset {6} -maxrate {7} -minrate {7} -b:v {7} -bufsize {8} -pix_fmt {9} -g {10} -c:a {11} -b:a {12} -metadata copyright="{16}" -metadata artist="{14}" rtmp://{2}/{3}/{4}?u={13}&amp;e={20}&amp;h={21} {22}</value>
            </setting>
            <setting name="ffplayArgFmt" serializeAs="String">
                <value>-an rtmp://{0}/{1}/{2}</value>
            </setting>
            <setting name="AddressService" serializeAs="String">
                <value>http://media.oabs.org/secure/addr2.php</value>
            </setting>
        </Ham2.Properties.Settings>
    </userSettings>
</configuration>